{% extends "base.template.html" %}

{% block title %}
    <title>Дзёё кандзи с определениями словаря Яркси</title>
{% endblock %}

{% block body %}
    <h1>Дзёё кандзи с определениями словаря Яркси</h1>
    <div>
    {%- for record in records %}
        <span class="kanji_widget level-dark-{{record.level}}">{{ record.kanji }}</span>
    {%- endfor %}
    </div>
    <h3>Списки других кандзи</h3>
    <ul>
       <li><a href="jinmeiyo.html">Дзиммэйё кандзи (人名用漢字)</a></li>
       <li><a href="hyogai.html">Хёгайдзи (印刷標準字体)</a></li>
       <li><a href="kanken_jun1.html">Кандзи кэнтэй 1 подготовительный (漢検 準1級)</a></li>
       <li><a href="kanken_jun1full.html">Кандзи кэнтэй 1 (漢検 1級)</a></li>
    <ul>
{% endblock %}